version: '3'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: natours-backend
    ports:
      - '3000:3000'
    env_file:
      - ./.docker.env
    networks:
      - app-network
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    container_name: mongo-natours
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
